<header id="header" class="header">
	<div class="header__container">
		<a href="index.html" class="header__logo">
			<img src="images/logo.png" alt="Адвокатское партнёрство">
		</a>

		<div class="header__menu menu">
			<button type="button" class="menu__icon icon-menu" aria-label="Открыть меню">
				<span></span>
			</button>

			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="index.html#about" class="menu__link">
							О коллегии
						</a>
					</li>

					<li class="menu__item">
						<a href="index.html#legal-services" class="menu__link">
							Юридическая помощь
						</a>
					</li>

					<li class="menu__item">
						<a href="index.html#lawyers" class="menu__link">
							Адвокаты
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>